* {
  font-family: 'Fredoka One', cursive;
  font-family: 'Kanit', sans-serif;
}

.link-section h2 {
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 100px;
  padding-left: 80px;
}

.link-section h3 {
  font-size: 30px;
}

.link-section .details {
 margin-left: 100px;
 margin-bottom: 100px;

}

#a {
  border: 1px solid black;
  border-radius: 5px;
  padding:10px;
  background: #f1f1f1;
  width: 100%;
  margin: 5px 0 15px 0;
}
#b {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  background: #f1f1f1;
  width: 100%;
  margin: 5px 0 15px 0;
}
input[type=e-mail],
input[type=password] {
  width: 100%;
  padding: 8px;
  margin: 5px 0 15px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border: 1px solid black;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: rgba(8, 8, 211, 0.767);
  border: none;
  border-radius: 5px;
  color: white;

}

.top-section {
  background-color: #0057fb;
  height: 100%;
  overflow: hidden;
}

form p {
  font-size: 12px;
}

.yellow-img1 {
  width: 150px;
  height: 150px;
  transform: skewY(20deg);
  -ms-transform: skewY(20deg);
  float: left;
  position: relative;
  left: -2em;
  top: 31px;
  background-color: #ffb91D;
}

.yellow-img2 {
  width: 80px;
  height: 80px;
  background-color: #ffD765;
  float: left;
  transform: skewY(20deg);
  -ms-transform: skewY(20deg);
  position: relative;
  top: 50px;
  left: -20px;
}

.blue-img {
  width: 150px;
  height: 180px;
  transform: skewY(20deg);
  -ms-transform: skewY(20deg);
  background-color: #023aad;
  position: relative;
  top: 70px;
  right: 45px;
  float: right;
}

.right-image1 img {
  margin-right: 30px;
  float: right;
  margin-top: 3em;
  width: 150px;
  height: 180px;
  transform: skewY(20deg);
  -ms-transform: skewY(20deg);
  position: relative;
  left: 180px;
  top: 0px;
}

.blue-img2 {
  width: 80px;
  height: 80px;
  background-color: #023aad;
  float: right;
  transform: skewY(20deg);
  -ms-transform: skewY(20deg);
  position: relative;
  left: 180px;
  top: -20px;
}

.top-section {
  color: white;
  text-align: center;

}

.inner h3 {
  padding-top: 250px;
  font-size: 40px;
  padding-right: 200px;
}

.inner p {

  padding-left: 30px;
}

.right-image2 img {
  float: left;
  width: 180px;
  height: 180px;
  transform: skewY(20deg);
  -ms-transform: skewY(20deg);
  position: relative;
  top: 5px;
  left: -3em;
  z-index: 5;

}

.white-img {
  width: 180px;
  height: 180px;
  transform: skewY(20deg);
  -ms-transform: skewY(20deg);
  background-color: #b6d3ff;
  position: relative;
  right: 200px;
  top: 30px;
  float: left;

}

.white-img2 {
  transform: skewY(20deg);
  -ms-transform: skewY(20deg);
  background-color: #b6d3ff;
  width: 80px;
  height: 80px;
  position: relative;
  left: 170px;
  top: 135px;

}

.blue-img3 {
  margin-top: 150px;
  width: 180px;
  height: 180px;
  transform: skewY(20deg);
  -ms-transform: skewY(20deg);
  background-color:#023aad ;
  float: right;
  position: relative;
  right: 100px;
  top: -100px;
}

.blue-img4 {
  width: 80px;
  height: 80px;
  background-color: #023aad;
  float: right;
  transform: skewY(20deg);
  -ms-transform: skewY(20deg);
  position: relative;
  bottom: 50px;
  left: 50px;

}


.link-section{
  padding: 0 8%;
}